/notebooks/markov_network
/data/
/results/notebooks_results_analysis/results.pkl

*.5N_itres35w_smapler_n_iter15

*.2N_itres80w_smapler_n_iter15

*.1number_of_smapled_traj1000N_itres80w_smapler_n_iter15

*.5number_of_smapled_traj100N_itres3w_smapler_n_iter15

*.3number_of_smapled_traj1000N_itres80w_smapler_n_iter15

*.1number_of_smapled_traj100N_itres3w_smapler_n_iter15

*.1number_of_smapled_traj1000N_itres50w_smapler_n_iter15

*.5number_of_smapled_traj1000N_itres50w_smapler_n_iter15

*.pkl
